/* HEADER */
.main-container {
  max-width: 80vw;
  height: 100vh;
  margin-left: 320px;
  margin-right: 56px;
  font-family: var(--font-dm-sans);
  position: relative;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 10px;
  border-radius: 8px;
  background-color: #121212;
}
.header__navigation .navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__navigation .navigation .arrow-left {
  margin-right: 1.25rem;
}
.arrow-left, .arrow-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: var(--bg-icon-color);
  background-color: var(--bg-arrow-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.header__search {
  display: flex;
  align-items: center;
  width: 364px;
  height: 48px;
  background-color: var(--bg-search-color);
  border-radius: 50px;
  border: 1px solid transparent;
}
.header__search img {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}
.header__search input {
  background: transparent;
  border: none;
  padding: 0 100px 0 12px;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
}


.header__login {
  display: flex;
  align-items: center;
}
.header__login .subscribe {
  color: var(--subscribe-color);
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  margin-right: 32px;
}
.header__login .login {
  width: 100px;
  height: 48px;
  color: var(--btn-color);
  font-size: 16px;
  font-weight: 700;
  border-radius: 40px;
}

/* ✅ DESAFIO AULA 03 */
/* .greetings, .highlights, .browse-section {
  padding: 16px 0;
  margin: 10px;
}
.greetings h1 {
  color: #fff;
  font-size: 2.2rem;
} */

/* ✅ DESAFIO DA LURI */
/* .highlights h2 {
  color: #fff;
  font-size: 1.8rem;
}
.highlights .cards {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  gap: 40px;
  margin: 0;
  padding: 16px 0;
}
.highlights .cards .card-item {
  background-color: var(--bg-card-item);
  width: 280px;
  height: 240px;
  border-radius: 8px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 15px;
  padding: 16px;
  overflow: hidden;
  position: relative;
}
.highlights .cards .card-item:hover {}

.highlights .cards .card-item .card-item__artist h3 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.highlights .cards .card-item span {
  font-size: 0.8rem;
  font-weight: 500;
  color: #fff;
  margin: 0;
  padding: 0;
}
.highlights .cards .card-item img {
  width: 200px;
  transform: rotate(20deg);
  align-self: flex-end;
  position: absolute;
  right: -50px;
  bottom: -25px;
}
.highlights .cards .card-item .listen-now {
  display: flex;
    justify-content: center;
    width: 100px;
    background-color: #fff;
    color: #000;
    border: 0;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
} */

/* ✅ DESAFIO AULA 03 */
/* .browse-section {
  padding: 16px 2px;
  margin: 10px 10px 60px;
  height: 800px;
}
.browse-section h2 {
  color: #fff;
  font-size: 1.6rem;
}
.browse-section__cards {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  margin: 0 0 10px;
  padding: 16px 0;
  gap: 30px;
}
.browse-section__cards .card-item {
  background-color: var(--bg-card-item);
  width: 240px;
  height: 240px;
  border-radius: 8px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 16px;
  overflow: hidden;
  position: relative;
}
.browse-section__cards .card-item h3 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.browse-section__cards .card-item img {
  width: 200px;
  transform: rotate(20deg);
  align-self: flex-end;
  position: absolute;
  right: -50px;
  bottom: -25px;
} */


.playlist-container {
  height: 68vh;
  padding-top: 16px;
  margin: 10px;
  border-radius: 10px;
  background-color: #121212;
}

.playlist {
  margin: 24px;
}

.playlist #greeting {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 48px;
}

.playlist .session {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
.offer__scroll-container {
  max-height: 43vh;
  margin: 24px;
  overflow-y: auto;
}

.offer__scroll-container::-webkit-scrollbar {
  width: 1px;
}

.offer__scroll-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.offer__list-item {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px;
  gap: 16px;
  margin-bottom: 16px;
}

.cards {
  position: relative;
  width: 220px;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
}

